:root {
    --azul: #3772FF;
    --verde: #36D6AD;
    --coral: #FC7071;
    --creme: #FCF0E3;
    --cinza: #737380;
    --cinza-claro: #e4e3e3;
    --cinza-claro2: #f7f7f7;

    --familia-corpo: 'Poppins', sans-serif;
}