:root {
    --azul1: #295872;
    --azul2: #357599;
    --azul3: #7292bf;
    --azul4: #67a8cd;
    --azul5: #8dbeda;
    --azul6: #75a1ff;

    --off-vermelho: #e3084a80;
    --off-laranja: #eb5a5280;
    --off-amarelo: #eebb5588;
    --off-azul: #75a1ff86;
    --off-verde: #29767a83;

    --on-vermelho: #e30849;
    --on-laranja: #eb5952;
    --on-amarelo: #eebb55;
    --on-azul: #75a0ff;
    --on-verde: #29767a;

    --fonte: 'Roboto Condensed', sans-serif;
}

body {
    background-color: var(--azul5);
    display: flex;
    flex-direction: column;
    font-family: var(--fonte);
    min-height: 100vh;
    color: whitesmoke;
}