@import url(_reset.css);
@import url(_style.css);

form div {
    padding: .5rem;
}

input {
    width: 100%;
    padding: .5rem ;
    border-radius: 20px;
}

input::placeholder{
    text-align: center;
}

label {
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

table {
    margin: 0 auto;
}

td {
    padding: .5rem;
    text-align: center;
}

.calc {
    background-color: var(--amarelo);
    border-radius: 20px 20px 0px 0px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    justify-content: space-evenly;
    margin: 5rem auto 0 auto;
    padding: 2rem;
    width: 350px;
}

.n1 {
    background-color: var(--off-verde);
    padding: 1rem;
    border-style: ridge;
    border-color: aliceblue;
}

.n2 {
    background-color: var(--off-azul);
    padding: 1rem;
    border-style: ridge;
    border-color: aliceblue;
}

.n3 {
    background-color: var(--off-amarelo);
    padding: 1rem;
    border-style: ridge;
    border-color: aliceblue;
}

.n4 {
    background-color: var(--off-laranja);
    padding: 1rem;
    border-style: ridge;
    border-color: aliceblue;
}

.n5 {
    background-color: var(--off-vermelho);
    padding: 1rem;
    border-style: ridge;
    border-color: aliceblue;
}

.n6 {
    background-color: black;
    padding: 1rem;
    border-style: ridge;
    border-color: aliceblue;
}

.resultado {
    background-color: var(--cinza);
    border-radius: 0px 0px 20px 20px;
    display: flex;
    flex-direction: column;
    height: 30vh;
    padding: 2rem;
    margin: 0 auto 5rem auto;
    width: 350px;
}

.valor-invalido {
    color: antiquewhite;
}