@import url(_reset.css);
@import url(_style.css);

input {
    width: 100%;
    padding: auto;
    padding: .5rem ;
}

label {
    padding: 1rem;
}

main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
}

.calc {
    background-color: var(--amarelo);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height: 60vh;
    padding: 2rem;
    margin: 5rem auto;
    width: 350px;
}